**
!Dockerfile
!requirements.txt
!requirements-livekit.txt
!requirements-lock.txt
!server/
!server/**
!web/
!web/**
!samples/
!samples/**
!migrations/
!migrations/**
**/__pycache__/
**/*.pyc
**/.env
**/.env.*
**/*.pem
**/*.key
**/node_modules/
**/.DS_Store
